/* COMPONENTES */
.input-id {
  border-radius: 20px;
  text-align: center;
  background-color: transparent;
  border-bottom-color: transparent;
  border: transparent;
  font-size: 18px;
  max-height: 100px !important;
  max-width: 100px !important;
  display: inline-block;

} 
.button-arredondado {
    border-radius: 2px 2px 100px 100px;
    text-align: center;
    height: 62px;
    width: 173px !important;
    position: absolute;
    left: 50%;
    bottom: 212px;
    margin-left: -84px;
}

.input-item {
    margin: 0;
    padding: 0;
}

.input-color {
    background-color: rgba(0,0,0,0.1)
}

.button-formato {
  border-radius: 2px 2px 90deg 100px;
  text-align: center;
  /* margin-left: 12.8%; */
  margin-top: 3.1%;
  height: 41px;
  width: 115px !important;
}
