/* INDEX */
ul {
    list-style-type: none;
    margin: 0;
    padding: 2%;
}

html,
body {
    width: 100%;
    height: 100vh;
}

html {
    display: table;
}

body {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.parte-central-font {
    font-size: 14px;
}

.id,
.nome {
    font-size: 15px;
    text-align: center;
    text-shadow: 0 0 50px rgba(0,0,0,0.5);
    box-sizing: border-box;
    padding-right: 10%;
}

.altura,
.peso {
    padding-right: 10px;
    max-width: 100%;
}

.foto{
    padding: 0;
    margin: 0;
    height: 100px;
    /* width: 200px; */
}


.item-overflow-hidden{
    max-height: 300px;
    overflow: hidden;
}

.item-overflow-auto{
    height: 122px;
    /* max-height: 300px; */
    overflow: auto;
    text-align: left;
}

.input-color{
    background-color: rgba(0,0,0,0.1)
}

.button-formato{
    margin-top: 50px;
    padding: 0;
    width: 48px;
    height: 53px;
    text-align: center;
    margin: 0 auto;
    font-size: 8px;
    /* margin-left: auto; */
}

.input-item {
    margin: 0;
    padding: 0;
}

.parte-central{
    text-align: center;
} 
.parte-central-color{
    background-color: transparent;
} 

.color-vermelho{
    color: #A72124;
}

.color-preto{
    color: #040301;
}

.color-azul{
    color: #439DBD;
} 

.background-tela {
    width: 468px;
    height: 804px;
    padding: 281px 85px 281px 97px;
    margin: 0 auto;
    position: relative;
    background: url("../img/pokedexKalosAzul.png") no-repeat center / 100% auto;
} 

.parte-central-alturas {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.parte-central-alturas::-webkit-scrollbar {
    width: 0px !important;
}
