/* BUTTON */
.button {
  display: inline-block;
  padding: 20px 30px;
  border: none;
  font-size: 18px;
  line-height: 18px;
  border-radius: 12px;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out 0s;
  cursor: pointer;
}

.button-white {
  color: #0678a9;
  background: #fff;
}

.button-blue {
  color: #fff;
  background: #0678a9;
}


.button-blue:hover {
  background: #ffb700;
}

.button-yellow {
  color: #fff;
  background: #ffb700;
}

.button-yellow:hover {
  background: #0678a9;
}
