/* GENERAL */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
}

h1,
h2,
h3 {
  margin: 0 0 15px;
}

a {
  text-decoration: none;
}

a,
input,
textarea,
button {
  outline: none;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.text-blue {
  color: #0678a9;
}

.text-yellow {
  color: #ffb700;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 980px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.no-banner {
  padding-top: 78px;
}

@media (max-width: 600px) {
  body.no-banner {
    padding-top: 130px;
  }
}
