/* HISTÓRIA */

.no-banner {
  padding-top: 90px;
}

.history-item {
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

.history-item img {
  margin: 0 15px 15px 0;
  float: left;
}

.history-item-right {
  text-align: right;
}

.history-item-right img {
  margin: 0 0 15px 15px;
  float: right;
}
