/* PRODUTOS */
.products-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.products-list li {
  padding-top: 15px;
  padding-bottom: 15px;
}

.products-list div {
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

.products-list img {
  width: 100px;
  margin-bottom: 15px;
}
