
.root{
  width: '100%';
  max-width: 360px;
  backgroundColor: grey;
}
.inline{
  display: 'inline';
}

.list {
  list-style-type: none;
  padding-left: 0;
}

.list li {
  padding: 10px;
  border-bottom: 1px solid #dddddd;
}