

  .invisivel {
    visibility: hidden;
  }



  .flash {
    width: 100%;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    position: fixed;
    top: 0;
    opacity: 0;
  }
  
  .fade-in {
    animation: fadein 1s linear forwards;
  }
  
  .fade-out {
    animation: fadeout 1s linear forwards;
  }
  
  @keyframes fadein { from { opacity: 0; } to { opacity: 1; visibility: visible; } }
  
  @keyframes fadeout { from { opacity: 1; } to { opacity: 0; visibility: hidden; } }
  

  