.btn {
    border-style: none;
    font-size: 1em;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
  }
  
  .verde {
    background-color: green;
    border-color: green;
    color: white;
  }
  
  .vermelho {
    background-color: red;
    border-color: red;
    color: white;
  }
  
  .azul {
    background-color: dodgerblue;
    border-color: dodgerblue;
    color: white;
  }
  
  .botoes {
    margin-top: 10px;
  }
  
  .botoes .btn {
    margin: 0 15px 0 15px;
  }

 a {
  text-decoration:none;
  color: white;
 }  

 .card-content{
   color:black;
 }