/* BANDEIRAS */
body{  
  width: 800px;
  margin: 15px;
  background-color: #ccccb3 !important;
}

.finlandia{
  position: relative;
  background-color: white;
  background-image:linear-gradient(transparent 54px,#003580 54px), linear-gradient(90deg,transparent 68px,#003580 68px); /*background-image: linear-gradient(direction, color-stop1, color-stop2, ...);*/
  background-size:246px 96px,110px 150px;
  background-repeat:no-repeat;
  height:150px;
}

.alemanha {
  position: relative;
  background-image: linear-gradient(to top, #FBDB00 0 50px, #e9280f 50px 100px, #000 100px 150px);
  background-size:246px, 150px;
  background-repeat:no-repeat;
  height: 150px;
}

.japao {
  position: relative;
  background-color: white;
  background: white;
  width: 225px;
  height: 150px;
}

.meio {
  display:block;
  width:91px;
  margin-left:177px;
  height:91px;
  background:#bc002d;
  border-radius:50%;
  margin: 29px auto;
  max-height: 100%;
}

.grecia {
  background-image: linear-gradient(to top, #2C45B1 0 15px, #FFFFFF 15px 30px,#2C45B1 30px 45px,
   #FFFFFF 45px 60px, #2C45B1 60px 75px,
   #FFFFFF 75px 90px, #2C45B1 90px 105px,
   #FFFFFF 105px 120px, #2C45B1 120px 135px
   );
  background-size:246px, 150px;
  height: 135px;
  padding-left: 0 !important;
}

.cruz-grecia{
  border-radius: 2px;
  height: 75px;
  width: 75px;
  background-image: linear-gradient(to top, #2C45B1 0 30px,  #FFFFFF 30px 45px, #2C45B1 45px 75px );
}

.cruz-grecia-left{
  margin-left: 30px;
  height: 75px;
  width: 15px;
  background-color:  #FFFFFF;
}
.libano {
  background-image: linear-gradient(to top, red 0 40px,  #FFFFFF 40px 95px, red 95px 135px );
  height: 135px;
}

.imagem-arvore{
  background-image: url("../img/arvore.jpg");
  height: 55px;
  box-sizing: 100%;
  background-size: 55px;
  background-repeat: no-repeat;
  background-color: transparent;
  margin-left: 90px;
  margin-top: 40px; 
}

.container{
  height: 420px !important;
  text-align: center;
  margin: 120px 0 0 250px !important;
}

.card{
  background-color: #ccccb3 !important;
  border: none !important;
  margin: 5px;
  width: 15rem;
}

.padding-zero{
  padding: 0 !important;
}

.row .row-bandeira{
  margin: 0 !important;
}

.branco{
  background-color: white;
}

.azul-violeta{
  background-color: #0E0051;
}

.vermelho{
  background-color: red;
}

.amarelo{
  background-color: yellow;
}

.preto{
  background-color: black;
}

.azul-grecia{
  background-color: #0052cc;
}

.button-atualizar{
  margin-top: 15px;
}

/* .finlandia{
  background-color: white;
  background-image:linear-gradient(transparent 54px,#003580 54px);
  background-size:246px 96px,110px 150px;
  height:150px;
}

.cruz-finlandia{
  margin-left: 30px;
  height: 100%;
  width: 40px;
  background-color:  #003580;
}

.alemanha {
  background-image: linear-gradient(to top, #FBDB00 0 50px, #e9280f 50px 100px, #000 100px 150px);
  background-size:246px 150px;  
  border: 1px solid #ddd;
}

.japao {
  background-color: white;
  background: white;
  background-size:246px 150px;
  border: 1px solid #ddd;
  width: 225px;
  height: 150px;
  border: 1px solid #ddd;
}

.meio {
  width:91px;
  left:67px;
  height:91px;
  background:#bc002d;
  border-radius:50%;
  margin: 29px auto;
  max-height: 100%;
}

.grecia {
  background-image: linear-gradient(to top, #2C45B1 0 15px, #FFFFFF 15px 30px,#2C45B1 30px 45px,
   #FFFFFF 45px 60px, #2C45B1 60px 75px,
   #FFFFFF 75px 90px, #2C45B1 90px 105px,
   #FFFFFF 105px 120px, #2C45B1 120px 135px
   );
  background-size:246px, 150px;

  height: 135px;
  padding-left: 0 !important;
}

.cruz-grecia{
  height: 75px;
  width: 75px;
  background-image: linear-gradient(to top, #2C45B1 0 30px,  #FFFFFF 30px 45px, #2C45B1 45px 75px );
  
}

.cruz-grecia-left{
  margin-left: 30px;
  height: 75px;
  width: 15px;
  background-color:  #FFFFFF;
}

.libano {
  background-image: linear-gradient(to top, red 0 40px,  #FFFFFF 40px 95px, red 95px 135px );
  height: 135px;
}

.imagem-arvore {
  background-image: url("../img/arvore.jpg");
  height: 55px;
  box-sizing: 100%;
  background-size: 55px;
  background-repeat: no-repeat;
  background-color: transparent;
  margin-left: 50%;
  margin-top: 40px; 
}

.padding-zero{
  padding: 0 !important;
}


.branco{
  background-color: white;
}

.azul-violeta{
  background-color: #0E0051;
}

.vermelho{
  background-color: red;
}

.amarelo{
  background-color: yellow;
}

.preto{
  background-color: black;
}

.azul-grecia{
  background-color: #0052cc;
} */
