/* LIBANO */

.libano-altura-vermelha{
    height: 100px;
}

.libano-altura-branca{
    height: 220px;
}

.arvore{
    position: relative;
    background-size: 80% ;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/arvore.jpg");
}