/* ALEMANHA */

.alemanha {
    position: relative;
    background-image: linear-gradient(to top, #000000 0 50px, #e9280f 50px 100px, #FBDB00 100px 150px);
    background-size:246px, 150px;
    background-repeat:no-repeat;
    height: 150px;
}