/* BANDEIRA-FILANDIA */
.finlandia{
    position: relative;
    background-color: white;
    background-image:linear-gradient(transparent 54px,#003580 54px), linear-gradient(90deg,transparent 68px,#003580 68px); /*background-image: linear-gradient(direction, color-stop1, color-stop2, ...);*/
    background-size:246px 96px,110px 150px;
    background-repeat:no-repeat;
    height:150px;
}
