/* GRECIA */

.grecia {
    position: relative;
    background-image: linear-gradient(to top, #2C45B1 0 30px, #FFFFFF 30px 60px,#2C45B1 60px 90px, #FFFFFF 90px 120px, #2C45B1 120px 150px);    
    background-size:246px, 150px;
    background-repeat:no-repeat;
    height: 150px;
}