/* JAPAO */

.japao {
    position: relative;
    background-color: white;
    background: white;
    width: 225px;
    height: 150px;
    border: 1px solid #ddd;
}
#teste .meio {
    display:block; 
    width:91px;
    top:29px;
    left:67px;
    height:91px;
    background:#bc002d;
    border-radius:50%;
    margin: 0 auto; 
    max-height: 100%;
}
