/* BEST EXPERIENCE*/

.img-tamanho > a, img{
  height: 200px;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5%;
}

/* body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {
    font-size: 16px;
  }
  .margin {
    margin-bottom: 45px;
    border-radius: 5px;
  } */
  /* .bg-1 {
    background-color: #1abc9c;
    color: #ffffff;
  }
  .bg-2 {
    background-color: #474e5d;
    color: #ffffff;
  }
  .bg-3 {
    background-color: #ffffff;
    color: #555555;
  }
  .bg-4 {
    background-color: #2f2f2f;
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }
*/
