.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: inline-block;
  padding: 10px;
}

p{
  margin: 0;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

ul,
li {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  display: inline;
}

img {
  width: 100%;
}

.card-content{
  font-color: black !important;
}