/* CONTATO */

.contato{
  height: 80vh;
}

.contato-text {
  padding-top: 15px;
  padding-bottom: 15px;
  height: 100%;
}

.contato-form {
  background-color: #ffb70034;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.formulario input {
  width: 100%;
  height: 50px;
  margin: 4px 0px 8px 0px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
}

.formulario input[type = submit]{
  width: 50%;
  height: auto;
  float: right;
}
