/* HISTORIA */

.historia-item {
  margin: 0;
  list-style: none;
  padding: 15px;
  padding-top: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

.imagem-left{
  float: left;
}

.imagem-right {
  float: right;
}

.historia-title-right {
  text-align: right;
}

.historia-title-left {
  text-align: left;
}

.historia-item img {
  width: 80px;
  margin-bottom: 1px;
  margin-right: 5px;
}
