/* SERVICOS */
.no-banner {
  padding-top: 90px;
}

.servico-item {
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

.servico-item h2,
.servico-item h3 {
  font-size: 22px;
}

.servico-item img {
  float: left;
  margin: 0 15px 15px 0;
  width: 180px;
}
