/* CIDADES */

.texto-margin {
  margin: 15px;
}

img{
  height: 300px;
  width: 500px;
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 5%;
}

.btn .btn-link {
  text-decoration: none;
}

h2,
button,
a {
  text-decoration: none;
}
