/* FOOTER */
section {
    padding: 10px 0;
}

.footer-page {
    background: #FAFAFA; !important;
}

.footer-page h5{
	padding-left: 10px;
    border-left: 3px solid #70566D;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#70566D;;
}
.footer-page a {
    color: #70566D;
    text-decoration: none !important;
    background-color: transparent;
}
