/* GENARAL */
body {
  margin: 0;
  font-family: Verdana ,Arial, sans-serif !important;
  font-size: 16px;
  line-height: 1.8;
  color: #42273B !important;
}

h1 {
  color: #fff !important;
}

h2,
h3,
h4,
p {
  margin: 0 0 15px;
  color: #42273B !important;
  padding-top: 10px;
  padding-left: 10px;
}

a {
  text-decoration: none !important;
  color: #42273B !important;
}

.navbar-brand {
  color: #42273B !important;
}

a,
input,
textarea,
button {
  outline: none !important;
}

.color-granny-smith-apple {
  color: #9EE493;
}

.color-light-gray {
  color: #CFD2D1;
}

.color-hookers-green {
  color: #587D71;
}

.color-dim-gray {
  color: #70566D;
}

.color-old-burgund {
  color: #42273B;
}

.text-color > div, p, h3, h1, a {
  color: #70566D;
  padding-top: 10px;
  padding-left: 10px;
}

.nav-pills .nav-link {
  border-radius: 0.25rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #70566D;
  background: #CFD2D1;
}

.btn-link {
  color: #70566D;
  background: #CFD2D1;
}

.btn-link:hover {
  color: #70566D;
  text-decoration: underline;
}

.btn-link:focus, .btn-link.focus {
  text-decoration: none;
  box-shadow: none;
}

.btn-link:disabled, .btn-link.disabled {
  color: #6c757d;
  pointer-events: none;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  color: inherit;
  background-color: #CFD2D1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.footer-page {
  bottom: 0px !important;
}

/* nav bar */
/*
.navbar-light .navbar-brand {
  color: rgba(250, 250, 250, 0.9);
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: rgba(250, 250, 250, 0.9);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(250, 250, 250, 0.5);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: rgba(250, 250, 250, 0.7);
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(250, 250, 250, 0.3);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(250, 250, 250, 0.9);
}

.navbar-light .navbar-toggler {
  color: rgba(250, 250, 250, 0.5);
  border-color: rgba(250, 250, 250, 0.1);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(250, 250, 250, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-light .navbar-text {
  color: rgba(250, 250, 250, 1);
}

.navbar-light .navbar-text a {
  color: rgba(250, 250, 250, 1);
}

.navbar-light .navbar-text a:hover, .navbar-light .navbar-text a:focus {
  color: rgba(250, 250, 250, 1);
}

.navbar-dark .navbar-brand {
  color: #fafafa;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: #fafafa;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(250, 250, 250, 1);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(250, 250, 250, 1);
}

.navbar-dark .navbar-nav .nav-link.disabled {
  color: rgba(250, 250, 250, 1);
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #fafafa !important;
}

.navbar-dark .navbar-toggler {
  color: rgba(250, 250, 250, 1);
  border-color: rgba(250, 250, 250, 1);
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(112, 86, 109, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-dark .navbar-text {
  color: rgba(250, 250, 250, 1);
}

.navbar-dark .navbar-text a {
  color: #fafafa;
}

.navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
  color: #fafafa;
}

.bg-dark {
  background-color: #70566d !important;
}

a.bg-dark:hover, a.bg-dark:focus,
button.bg-dark:hover,
button.bg-dark:focus {
  background-color: #fafafa !important;
} */
