/* INDEX */
.index-banner {
  height: 100vh;
  position: relative;
  background-image: url("../img/img-banner.jpeg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 0 0 50px rgba(0,0,0,0.5);
  margin: 0;
  border-radius: 0;
  margin-bottom: 15px;
  margin-top: 3%;
}

.index-banner-2 {
  height: 25vh;
}

.autor{
  color: #fff !important;
}

.index-banner:before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  opacity: 0.3;
  top: 0;
  left: 0;
  z-index: 1;
  background: -moz-linear-gradient(-45deg, #fdfdfd 0%, #baa2b3 100%);
  background: -webkit-linear-gradient(-45deg, #fdfdfd 0%,#baa2b3 100%);
  background: linear-gradient(135deg, #fdfdfd 0%,#baa2b3 100%);
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#baa2b3',GradientType=1 ); */
  /* background: -moz-linear-gradient(top, #d7dad0 0%, #6819a9 100%);
  background: -webkit-linear-gradient(top, #d7dad0 0%,#6819a9 100%);
  background: linear-gradient(to bottom, #d7dad0 0%,#6819a9 100%); */
/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7dad0', endColorstr='#6819a9',GradientType=0 ); */
}

.jumbotron .index-banner {
  z-index: 2;

}

.fonte-banner-central h1 {
  color: #000;
  margin-top: 25px;
  text-align: center;
  font-size: 35px;
  padding-left: 10%;
  padding-right: 10%;
  text-shadow: 0 0 50px rgba(0,0,0,1);
}

.fonte-banner-central p {
  color: #000;
  font-size: 20px;
  text-shadow: 0 0 50px rgba(0,0,0,1);
}

.text-color-section-continentes > p, h3, h1, a {
  color: #70566D;
  padding-top: 10px;
  padding-left: 10px;
}

.img-continentes{
  width: 100px;
  height: 100px;
  opacity: 0.5;
  padding: 10px 0 10px;
  border-radius: 80%;
}

.text-color-section-experience > div, p, h3, h1, a {
  color: #70566D;
  padding-top: 10px;
  padding-left: 10px;
}

.bg-3 {
  background-color: #ffffff; /* White */
  color: #555555;
}
.bg-4 {
  background-color: #2f2f2f; /* Black Gray */
  color: #fff;
}

.experience-img-tamanho > img{
  height: 200px;
  width: 242px;
  overflow: hidden;
  object-fit: cover;
  margin-bottom: 10px;
  margin-top: 10px;
  /* object-position: bottom; */
  border-radius: 5%;
}

.experience-img-tamanho a{
  text-decoration: none;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}
